*{
    padding: 0;
    margin: 0;
}
:root{
    --main-color: #008736;
    --second-color: #e9e6e6;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    color: var(--main-color);
    font-size: 24px;
    margin: 20px;
}
.description{
    font-size: 18px;
    margin-bottom: 20px;
}
.search-input{
    border-radius: 15px;
    border: none;
    background-color: var(--second-color);
    font-size: 18px;
    width: 300px;
    height: 50px;
    padding: 0 15px;
    display: block;
}
#btn{
    border: none;
    color: #fff;
    background-color: var(--main-color);
    height: 50px;
    width: 300px;
    border-radius: 15px;
    margin-top: 10px;
}
.container{
    width: 300px;
    height: fit-content;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
}
.container div img{
    width: 300px;
    margin-bottom: 20px;
}
.container h2{
    color: var(--main-color);
    margin-left: 10px;
}
.container p{
    margin: 5px 10px 10px 10px;
}